/* 

DOCUMENT SPECIFICATIONS

body color:                 #9c9c9c
white color:                #fff
lightgrey color:            #f4f4f4
black color:                #000
headings colors:            #444
hover colors (red):         #ef6480
input border colors footer: #d9d9d9

body font family (paragraphs): monospace
headings font family:          fantasy */

/* GLOBAL SETTINGS */

* {
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body {
  margin: 0; 
  font-family: fantasy;
}

/* *** UTILITY CLASSES ****** */

/* TEXT COLORS */

.text-white {
  color: #fff;
}
.text-gray {
  color: #444;
}
.text-lightgray {
  color: #9c9c9cf1;
}

/* TEXT FONT */

.text-font {
  font-family: monospace;
}
.text-font-headings {
  font-family: fantasy;
}
.text-font-size-h2{
font-size: 3rem;
}
.text-font-size-parag{
font-size: 1.6rem;
}
.text-font-size-butt{
font-size: 1rem;
}
.text-font-weight-500{
  font-weight: 500;
}
.text-font-weight-600{
  font-weight: 600;
}

/* LETTER SPACING */
.text-letter-spacing-h2{
  letter-spacing: 0.5rem;
}
.text-letter-spacing-p{
  letter-spacing: 0.3rem;
}
.text-letter-spacing-p{
  letter-spacing: 0.3rem;
}
.text-letter-spacing-butt{
  letter-spacing: 0.2rem;
}

/* LINE HEIGHT */
.text-line-height-p{
  line-height: 2.2rem;
}

/* TEXT MISCELLAENOUS */

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}


/* BACKGROUND COLORS */

.background-black {
  background-color: #000;
   margin-bottom: 100px;
    padding: 150px;
}

.backgroud-white {
  background-color: #fff;
}

.background-grey {
  background-color: #f4f4f4;
}

/* CONTAINERS */

.container-md {
   width: 75%;
      text-align: center;  
      font-size: x-large;
      margin: 100;
      padding-top: 1px;
      padding-left: 10%;
}

/* BORDERS */

.border-gray {
  border: 3px solid #444;
}
.border-rounded {
  border-radius: 4px;
}
.border-circle {
  border-radius: 50%;
}
/*only for heading*/
  .border-white{
      border-bottom: 1px solid #fff;
      margin-left: 30%;
      margin-right: 30%;
      padding-bottom: 10px;
  }


/* BUTTONS */

.button-cta {
  
}

.button-form {
  
}

/* ICONS */

.icon-hover {
  background-color: #ef6480;
}

.button-cta:hover,
.button-form:hover {
  border: 1px #ef6480 solid; 
}

/* HOVER TRANSITION */
.transition{
  transition: 0.7s;}

.transition:hover{
  border-color: #ef6480;
  color: #ef6480;
}  


/* PADDING */
.padding{
  padding: 70px 120px;
}
.padding-nested{
  padding: 100px 320px;
}
.padding-buton-top-bottom{
  padding-top: 18px;
  padding-bottom: 18px;
}

/* class only for LEARN MORE BUTTON */
.padding-buton-left-right-LM{
  padding-left: 50px;
  padding-right: 50px;
}

/* FAVICON AUTOPREFIXER */
.fa-autoprefixer{
  padding: 18px 16px 25px 16px;
  font-size: 3.5rem;
}

